*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-link{
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 16px;
}
.nav-link:hover{
color: #ab8b65;
}
#a1{
    color: #ab8b65;
}
#a1:hover{
    color: white;
}
.p1{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
}
.bt-5{
    height: 40px;
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color:#ab8b65;
    color: white;
}